<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" href="/icon/bread-vector.svg" type="image/x-icon">
    <link rel="canonical" href="/"/>
    <title>Spãotify</title>
    <script defer>
      function showBar(){
        const sideBar = document.querySelector("div.menu-bar");
        sideBar.classList.toggle('active');
        setTimeout(() => {
          unshowBar(sideBar);
        }, 200);
      }
      function unshowBar(Bar){
        function handleClick(event) {
          if (!Bar.contains(event.target)) {
          Bar.classList.remove('active');
          window.removeEventListener('click', handleClick);
          }
        }
        window.addEventListener('click', handleClick);
      }
    </script>
  </head>
  <body>
    {{{body}}}
    {{#if success_msg}}
    <div class="div-alerta">{{success_msg}}</div>
    {{/if}}
    {{#if error_msg}}
    <div class="div-alerta">{{error_msg}}</div>
    {{/if}}
    <div class="menu-bar">
      {{#if cred}}
        <h4>Essas são suas playlists, {{cred.nome}}</h4>
        <div class="container-playlists"></div>
      {{else}}
        <h4 class="centered-alert">Faça seu login para ter acesso as playlists</h4>
        <div class="container-playlists">
          <div class="playlist-option">
            <img src="/icon/bread-vector.svg"/>
            <h3>Nada aqui!</h3>
          </div>
        </div>
      {{/if}}
    </div>
  </body>
</html>
